[submodule "protos/cncf/udpa"]
	path = protos/cncf/udpa
	url = https://github.com/cncf/udpa
[submodule "protos/googleapis"]
	path = protos/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "protos/envoyproxy/data-plane-api"]
	path = protos/envoyproxy/data-plane-api
	url = https://github.com/envoyproxy/data-plane-api
[submodule "protos/envoyproxy/protoc-gen-validate"]
	path = protos/envoyproxy/protoc-gen-validate
	url = https://github.com/envoyproxy/protoc-gen-validate
